body {
  width: 90em;
  min-height: 217.063em;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-top: 3.125em;
  margin-bottom: 2.5em;
  font-family: "Inter", sans-serif;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  position: relative;
}

/* ----------------- Typography --------------------- */
* {
  box-sizing: border-box;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  font-size: 2.118em;
  line-height: 150%;
  height: 51px;
  color: #000;
  text-align: start;
  margin-bottom: 30px;
  margin-top: 50px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
  height: 51px;
  text-align: start;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 19.36px;
  line-height: 150%;
}

/* ----------------- Profile Section --------------------- */
.profile {
  display: flex;
  gap: 2em;
  max-width: 93.75em;
  margin: 0 auto;
  padding: 3em 3em;
}

.resume-profile-pic {
  width: 18.75em;
  height: 18.75em;
  object-fit: cover;
  border-radius: 1.815em;
}

.profile-content {
  width: 62.5em;
  height: 18.75em;
  padding: 2.5em 3.6875em;
  background: #ffffff;
  border-radius: 1.815em;
}

.name-surname h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  color: #000;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.375em;
  line-height: 1.51;
  letter-spacing: 0;
  vertical-align: middle;
  color: #555;
}

/* ----------------- Capability Section --------------------- */
.capability-container {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  gap: 0.125em;
  width: 100%;
  max-width: 82.6119em;
  height: 21.875em;
  margin: 3.9375em auto;
  margin-top: 1.25em;
  margin-bottom: 3em;
  border-radius: 1.815em;
}

.proficiency-card {
  width: 35.25em;
  height: 21.875em;
  padding-left: 1.75em;
  border-radius: 1.8125em;
  background: #ffffff;
}

.proficiency-scale {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.35em;
}

.space {
  margin-right: 3.125em;
}

.proficiency-list {
  width: 31.8125em;
  height: 11.1875em;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 1.25em 0;
}

.proficiency-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375em;
}

.proficiency-name {
  width: 6.25em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.proficiency-bar {
  flex: 1;
  height: 1.25em;
  background: #fff;
  border-radius: 0.1875em;
  margin-left: 0.9375em;
}

.proficiency-progress {
  display: block;
  height: 100%;
  background: #4a8b70;
  border-radius: 0.1875em;
}

.skills-container {
  width: 90%;
  height: 21.875em;
  margin-left: 5em;
  padding: 0 1.75em;
  border-radius: 1.8125em;
  background: #ffffff;
}

.skills-row {
  margin-bottom: 0.75em;
  display: flex;
  flex-wrap: wrap;
  gap: 3.125em;
}

.skills-pill {
  background-color: #e0e0e0;
  padding: 0.5em 1em;
  border-radius: 1.25em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 100%;
}

/* ----------------- Project Section --------------------- */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82.375em;
  max-width: 82.6119em;
  height: auto;
  min-height: 47.25em;
  margin: 3.9375em auto;
  margin-bottom: 3em;
  padding: 1.875em 0.625em;
  border-radius: 1.815em;
  gap: 3.125em;
  background: #ffffff;
}

.projects-title {
  text-align: center;
  margin: 0;
}

.project-row {
  display: grid;
  grid-template-columns: repeat(4, 17em);
  gap: 3em;
  width: 100%;
  margin-left: 2em;
  justify-content: start;
}

.portfolio-column,
.podcast-column,
.agile-column,
.supercool-column {
  position: relative;
  width: 15.2em;
  height: 36.3125em;
  border-radius: 1.8125em;
  background: #ffffff;
  box-shadow: 0 0 0.1875em #dadada;
  padding: 0.4375em;
  color: #000000;
  font-size: 1.21em;
  font-weight: 400;
  background: #e7f0ec;
}

#portfolio-column {
  background: #4a8b70;
  color: #ffffff;
}

strong {
  font-weight: 700;
}

.heart-icon {
  position: absolute;
  top: 0.9375em;
  right: 0.9375em;
  font-size: 1.2rem;
  color: #d76239;
}

/* ----------------- Education Section --------------------- */
.academic-container {
  display: grid;
  grid-template-columns: 60em 18.125em;
  gap: 5.625em;
  justify-content: center;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62.125em;
  height: 54em;
  border-radius: 1.815em;
  background: #ffffff;
  padding: 1.8125em;
  gap: 0.625em;
  margin-bottom: 3em;
}

.education-title {
  align-self: flex-start;
  margin-top: 0.5em;
  width: 10.75em;
  height: 3.1875em;
  margin-bottom: 0.625em;
}

.education-column {
  display: flex;
  flex-direction: column;
}

.school-item {
  display: flex;
  width: 58.5em;
  height: 15.125em;
  background: #e7f0ec;
  padding: 0.625em;
  border-radius: 0.9375em;
  margin-bottom: 0.9375em;
}

.school-item.bootcamp {
  background: #4a8b70;
  color: #ffffff;
}

.school-item.high {
  height: 12.125em;
}

.school-info {
  width: 16.6875em;
  height: 8.0625em;
}

.academy {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5125em;
  line-height: 150%;
  height: 2.25em;
  text-align: start;
  width: 16.6875em;
}

.school-info ul {
  list-style: none;
}

.date {
  width: 13.25em;
  height: 1.8125em;
  font-weight: 500;
  margin-top: 1.25em;
}

.course {
  width: 13.8125em;
  height: 1.8125em;
  color: #3f3d3d;
}

#software {
  color: #ebf9f2;
}

.course-items {
  padding-left: 6.25em;
}

.course-details {
  width: 36.125em;
  height: 10.875em;
  line-height: 150%;
}

.course-items li {
  line-height: 1;
}
/* ----------------- Tools Section --------------------- */
.tools-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 17.5em;
  height: 54em;
  padding: 1.875em 0.625em;
  border-radius: 1.815em;
  background: #ffffff;
  gap: 1.25em;
  margin-bottom: 3em;
}

.tools-title {
  text-align: center;
  width: 5.625em;
  height: 1.1875em;
  margin: 0.625em auto;
}

.tools-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.language,
.design,
.tools {
  background: #e7f0ec;
  position: relative;
  padding-top: 1.875em;
  margin-top: 1.25em;
}

.tools-language,
.tools-design,
.tools-tools {
  font-size: 0.75625em;
  background: #000000;
  text-align: center;
  color: #e7f0ec;
  border-radius: 0.9075em;
  position: absolute;
  top: -1.8125em;
  left: 50%;
  transform: translateX(-50%);
}

.language {
  width: 11.4375em;
  height: 17.0625em;
  border-radius: 0.9075em;
  gap: 2.42em;
}

.design {
  width: 11.5em;
  height: 9.5em;
  border-radius: 0.9075em;
}

.tools {
  width: 11.4375em;
  height: 12.375em;
  border-radius: 0.9075em;
  gap: 2.42em;
}

.tools-language {
  width: 5.9375em;
  height: 1.625em;
  padding: 0.3025em 0.9075em;
}

.tools-design {
  width: 4.4375em;
  height: 1.625em;
  padding: 0.3025em 0.9075em;
}

.tools-tools {
  width: 3.6875em;
  height: 1.625em;
  padding: 0.3025em 0.9075em;
}

.tools-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-row {
  display: flex;
  justify-content: center;
  gap: 3.125em;
}
/* ----------------- Experience Section --------------------- */
.experience-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 82.25em;
  height: 47.5em;
  margin: 1.25em auto;
  margin-bottom: 3em;
  padding: 1.25em 1.6875em;
  border-radius: 1.815em;
  gap: 0.9375em;
  background: #ffffff;
}

.experience-title {
  align-self: flex-start;
  margin: 0.625em 0;
  width: 11.5625em;
  height: 1.1875em;
}

.work-info {
  display: flex;
  width: 78.75em;
  height: 11.25em;
  background: #e7f0ec;
  padding: 0.9375em 1.5625em;
  border-radius: 1.815em;
  margin-bottom: 0.9375em;
  gap: 0.625em;
}

.work-info.clerk {
  background: #4a8b70;
  color: #ffffff;
  position: relative;
  padding: 0.9375em 1.5625em;
  display: flex;
  width: 100%;
}

.timeline {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.6875em;
  height: 2em;
  top: 0.9375em;
  right: 0.9375em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9075em;
  padding: 0.1875em 0.625em;
  margin: 0.3025em;
  text-align: center;
  color: #ffffff;
  background: #d76239;
  border-radius: 0.625em;
}

.clerk-details {
  width: 70%;
  padding-left: 1.25em;
}

.clerk-row,
.sales-row,
.waiter-row {
  display: flex;
  flex-direction: column;
  width: 13.4375em;
  height: 1.8125em;
  list-style: none;
  margin-right: 1.25em;
  padding-left: 0;
}

.date,
.position,
.subtext {
  margin: 0.0625em 0;
}

.clerk-row,
.sales-row,
.waiter-row,
.date {
  width: 13.4375em;
  height: 1.8125em;
  font-weight: 500;
  font-size: 1.21em;
  line-height: 150%;
}

.sales-row .date {
  width: 12.5em;
}

.waiter-row .date {
  width: 12.5625em;
}

.clerk-row,
.sales-row,
.waiter-row,
.position {
  width: 11.9375em;
  height: 2.25em;
  font-weight: 500;
  font-size: 1.5125em;
  line-height: 150%;
}

.sales-row .position {
  width: 18.75em;
}

.waiter-row .position {
  width: 5.0625em;
}

.clerk-row,
.sales-row,
.waiter-row,
.subtext {
  width: 15.8125em;
  height: 1.8125em;
  font-weight: 400;
  font-size: 1.21em;
  line-height: 150%;
}

.clerk-row .subtext {
  color: #ebf9f2;
}
.sales-row .subtext {
  width: 15.125em;
  color: #3f3d3d;
}

.waiter-row .subtext {
  width: 16.75em;
  color: #3f3d3d;
}

.clerk-details,
.sales-details,
.waiter-details {
  flex: 1;
  padding-left: 1.25em;
  margin-left: 0;
  margin-top: 0;
}

.clerk-items,
.sales-items,
.waiter-items {
  list-style-type: disc;
  padding-left: 1.25em;
}

.clerk-details {
  width: 49.5625em;
  height: 5.4375em;
}

.clerk-items {
  padding-left: 0.625em;
}

.clerk-items li,
.sales-items li,
.waiter-items li {
  margin-bottom: 0.0625em;
  line-height: 1.1;
}

/* ----------------- Footer Section --------------------- */
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3em;
  width: 82.625em;
  height: 9.875em;
  border-radius: 1.815em;
  background: #d76239;
}

.contact-info {
  padding: 1.815em;
  margin: 0 auto;
  color: #ffffff;
}

.contact-statement {
  width: 79em;
  height: 1.1875em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.1175em;
  line-height: 150%;
  letter-spacing: 0;
  vertical-align: middle;
  color: #ffffff;
}

a {
  width: 33.625em;
  height: 2.25em;
  gap: 1.21em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5125em;
  line-height: 150%;
  letter-spacing: 0;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
}
