body {
  width: 1440px;
  min-height: 3473px;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  position: relative;
}

/* ----------------- Typography --------------------- */
* {
  box-sizing: border-box;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-size: 33.88px;
  line-height: 150%;
  height: 51px;
  color: #000;
  text-align: start;
  margin-bottom: 30px;
  margin-top: 50px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
  height: 51px;
  text-align: start;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 19.36px;
  line-height: 150%;
}

/* ----------------- Profile Section --------------------- */
.profile {
  display: flex;
  gap: 40px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px 60px;
}

.resume-profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 29.04px;
}

.profile-content {
  width: 1000px;
  height: 300px;
  padding: 40px 59px;
  background: #ffffff;
  border-radius: 29.04px;
}

.name-surname h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  font: Poppins;
  font-weight: 400;
  font-size: 22px;
  line-height: 151%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #555;
}

/* ----------------- Capability Section --------------------- */
.capability-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-columns: repeat(auto-fit, max-content(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 100%;
  max-width: 1321.79px;
  height: 350px;
  margin: 63px auto;
  margin-top: 20px;
  border-radius: 29.04px;
}

.proficiency-card {
  width: 564px;
  height: 350px;
  padding-left: 28px;
  border-radius: 29px;
  background: #ffffff;
}

.proficiency-scale {
  font: Poppins;
  font-weight: 500;
  font-size: 24.2px;
}

.space {
  margin-right: 50px;
}

.proficiency-list {
  width: 509px;
  height: 179px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.proficiency-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.proficiency-name {
  width: 100px;
  font: Poppins;
  font-weight: bold;
}

.proficiency-bar {
  flex: 1;
  height: 20px;
  background: #fff;
  border-radius: 3px;
  margin-left: 15px;
}

.proficiency-progress {
  display: block;
  height: 100%;
  background: #4a8b70;
  border-radius: 3px;
}

.skills-container {
  width: 90%;
  height: 350px;
  margin-left: 80px;
  padding: 0 28px;
  border-radius: 29px;
  background: #ffffff;
}

.skills-row {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.skills-pill {
  background-color: #e0e0e0;
  padding: 8px 16px;
  border-radius: 20px;
  font: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

/* ----------------- Project Section --------------------- */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1318px;
  max-width: 1321.79px;
  height: auto;
  min-height: 756px;
  margin: 63px auto;
  padding: 30px 10px;
  border-radius: 29.04px;
  gap: 50px;
  background: #ffffff;
}

.projects-title {
  text-align: center;
  margin: 0;
}

.project-row {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 40px;
  justify-content: start;
}

.portfolio-column,
.podcast-column,
.agile-column,
.supercool-column {
  position: relative;
  width: 280px;
  height: 581px;
  border-radius: 29px;
  background: #ffffff;
  box-shadow: 0 0 3px #dadada;
  padding: 7px;
  color: #000000;
  font-size: 19.36px;
  font-weight: 400;
  background: #e7f0ec;
}

#portfolio-column {
  background: #4a8b70;
  color: #ffffff;
}

strong {
  font-weight: 700;
}

.heart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  color: #d76239;
}

/* ----------------- Education Section --------------------- */
.academic-container {
  display: grid;
  grid-template-columns: 960px 290px;
  gap: 90px;
  justify-content: center;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 994px;
  height: 848px;
  border-radius: 29.04px;
  background: #ffffff;
  top: 1691.09px;
  left: 63px;
  padding: 29px;
  gap: 10px;
}

.education-title {
  align-self: flex-start;
  margin-top: 20px;
  width: 172px;
  height: 51px;
  top: 29px;
  left: 34px;
  margin-bottom: 10px;
}

.education-column {
  display: flex;
  flex-direction: column;
}

.school-item {
  display: flex;
  width: 936px;
  height: 242px;
  background: #e7f0ec;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.school-item.bootcamp {
  background: #4a8b70;
  color: #ffffff;
}

.school-item.high {
  height: 194px;
}

.school-info {
  width: 267px;
  height: 129px;
  top: 34.01px;
  left: 30.2px;
}

.academy {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
  height: 51px;
  text-align: start;
}

.school-info ul {
  list-style: none;
}

.date {
  width: 212px;
  height: 29px;
  top: 34.01px;
  left: 30.2px;
  font-weight: 500;
  margin-top: 20px;
}

.academy {
  width: 267px;
  height: 36px;
  top: 65.01px;
  left: 30.2px;
}

.course {
  width: 221px;
  height: 29px;
  top: 103.01px;
  left: 30.2px;
  color: #3f3d3d;
}

#software {
  color: #ebf9f2;
}

.course-items {
  padding-left: 100px;
}

.course-details {
  width: 578px;
  height: 174px;
  top: 34.01px;
  left: 327.99px;
  line-height: 150%;
}

.course-items li {
  margin-bottom: 10px;
  line-height: 1.4;
}

/* ----------------- Tools Section --------------------- */
.tools-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 847px;
  padding: 30px 10px;
  border-radius: 29.04px;
  background: #ffffff;
  gap: 20px;
}

.tools-tittle {
  width: 90px;
  height: 51px;
  top: 1723.16px;
  left: 1185.5px;
  margin-top: 10px;
}

.tools-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 184px;
  height: 682px;
  top: 1810.29px;
  left: 1137px;
  gap: 29.04px;
}

.language,
.design,
.tools {
  background: #e7f0ec;
  position: relative;
  padding-top: 30px;
  margin-top: 20px;
}

.tools-language,
.tools-design,
.tools-tools {
  font-size: 12.1px;
  background: #000000;
  text-align: center;
  margin: 0 auto;
  color: #e7f0ec;
  border-radius: 14.52px;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
}

.language {
  width: 183px;
  height: 273px;
  border-radius: 14.52px;
  gap: 38.72px;
  background: #e7f0ec;
  border-radius: 14.52px;
}

.tools-language {
  width: 95px;
  height: 26px;
  padding: 4.84px 14.52px;
}

.design {
  width: 184px;
  height: 152px;
  border-radius: 14.52px;
  background: #e7f0ec;
}

.tools-design {
  width: 71px;
  height: 26px;
  padding: 4.84px 14.52px;
}

.tools {
  width: 183px;
  height: 198px;
  border-radius: 14.52px;
  gap: 38.72px;
  background: #e7f0ec;
}

.tools-tools {
  width: 59px;
  height: 26px;
  padding: 4.84px 14.52px;
}

.tools-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* ----------------- Experience Section --------------------- */
.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1316px;
  height: 640px;
  margin: 63px auto;
  padding: 31px 27px;
  border-radius: 29.04px;
  gap: 10px;
  background: #ffffff;
}

.experience-title {
  align-self: flex-start;
  margin-top: 20px;
  width: 185px;
  height: 51px;
  top: 29px;
  left: 34px;
  margin-bottom: 20px;
  margin-left: 28px;
}

.work-info {
  display: flex;
  width: 1260px;
  height: 145px;
  background: #e7f0ec;
  padding: 19px 25px;
  border-radius: 29.04px;
  margin-bottom: 15px;
  gap: 10px;
}

.work-info.clerk {
  background: #4a8b70;
  color: #ffffff;
}

.timeline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 32px;
  top: 1;
  left: 1090px;
  font: Poppins;
  font-weight: 500;
  font-size: 14.52px;
  padding: 2px 2px;
  margin: 4.84px;
  text-align: center;
  color: #ffffff;
  background: #d76239;
  border-radius: 10px;
}

.clerk-row,
.sales-row,
.waiter-row {
  width: 215px;
  height: 29px;
  top: 19px;
  left: 25px;
  list-style: none;
}

/* ----------------- Footer Section --------------------- */
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; /* Center horizontally */
  margin: 0 auto;
  margin-bottom: 48px;
  width: 1322px;
  height: 158px; /* Remove fixed height */
  border-radius: 29.04px;
  background: #d76239;
}

.contact-info {
  padding: 29.04px;
  margin: 0 auto;
  color: #ffffff;
}

.contact-statement {
  width: 1264px;
  height: 51px;
  font: Poppins;
  font-weight: 500;
  font-size: 33.88px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}

a {
  width: 538px;
  height: 36px;
  gap: 19.36px;
  font: Poppins;
  font-weight: 400;
  font-size: 24.2px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
}
